
<%= form_for(@listing, html: { multipart: true }) do |f| %>
<% if @listing.errors.any? %>
  <div id="card-alert" class="card red lighten-5">
    <div class="card-content red-text">
      <h5><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h5>
    </div>
    <ul>
    <% @listing.errors.full_messages.each do |message| %>
      <li style="padding-left: 30px; padding-bottom: 20px;"><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div id="stripe_error" style="display: none;">
  <noscript>Javascript needs to beenabled!</noscript>
</div>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <%= f.text_field :name, id:"icon_prefix", class:"validate" %>
        <%= f.label :name %>
      </div>
    </div>

    <div class="row">
        <div class="input-field col s3">
          <i class="material-icons prefix">toll</i>
          <%= f.text_field :price, id:"icon_prefix", class:"validate" %>
          <%= f.label :price %>
        </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">description</i>
        <%= f.text_area :description, id:"icon_prefix", class:"materialize-textarea" %>
        <%= f.label :description %>
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <form action="#">
          <div class="file-field input-field">
            <div class="btn">
                <i class="material-icons right">file_upload</i>Image
              <input type="file" name="listing[image]" id="listing_image" multiple />
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload one or more files">
            </div>
          </div>
        </form>
      </div>
    </div>

    <h3>Bank Account Info</h3>

    <div class="row">
        <div class="input-field col s3">
          <%= text_field_tag :country, nil, { name: nil, 'data-stripe': "country", class:"validate"} %>
          <%= label_tag :country %>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s3">
          <%= text_field_tag :routing_number, nil, { name: nil, 'data-stripe': "routingNumber", class:"validate"} %>
          <%= label_tag :routing_number %>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s3">
          <%= text_field_tag :account_number, nil, { name: nil, 'data-stripe': "accountNumber", class:"validate"} %>
          <%= label_tag :account_number %>
        </div>
    </div>

    <div class="row">
      <div class="col s6">
        <button class="btn waves-effect buttoncolor" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>

  </form>
</div>
<% end %>
