
  <table class="striped bordered responsive-table">
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th style="text-align: center;">Actions</th>
    </tr>

    <% @listings.each do |listing| %>
      <tr>
        <td><%= image_tag listing.image.url, class:"sellerImage" %></td>
        <td><%= listing.name %></td>
        <td><%= listing.description %></td>
        <td><%= number_to_currency(listing.price) %></td>
        <td style="text-align: center;">
          <a class="dropdown-button btn buttoncolor" href="#" data-activates="dropdown2"><i class="material-icons">menu</i></a>
          <ul id="dropdown2" class="dropdown-content">
            <li><%= link_to 'View', listing %></li>
            <li><%= link_to 'Edit', edit_listing_path(listing) %></li>
            <li class="divider"></li>
            <li><%= link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' }, style:"color: red;" %></li>
          </ul>
        <td>
      </tr>
    <% end %>
  </table>


<br>
<a href="<%= new_listing_path %>", class="btn-floating btn-large waves-effect waves-light">
  <i class="material-icons">add</i>
</a>Create Listing
