<p id="notice"><%= notice %></p>

<% if @listing.image_url.nil? %>
  <%= image_tag "https://s3.amazonaws.com/placerater/default.png" %>
<% else %>
  <%= image_tag @listing.image_url %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing), class:"waves-effect waves-teal btn-flat" %> |
<%= link_to 'Back', listings_path, class:"waves-effect waves-teal btn-flat" %>
