<div class="center">
  <h3>Sales History</h3>
</div>
  <table class="striped bordered responsive-table">
    <tr>
        <th>Image</th>
        <th>Item</th>
        <th>Price</th>
        <th>Customer</th>
        <th>Date Sold</th>
    </tr>

    <% @orders.each do |order| %>
      <tr>
        <td><%= image_tag order.listing.image.url, class:"sellerImage" %></td>
        <td><%= order.listing.name %></td>
        <td><%= number_to_currency(order.listing.price) %></td>
        <td><%= order.buyer.name %></td>
        <td><%= order.created_at.strftime("%B %-d, %Y") %>
      </tr>
    <% end %>
  </table>
