<nav class="navcolor" role="navigation">
  <%= link_to "SellStuff", root_path, class:"brand-logo", id:"logo-container", style:"padding-left: 10px;" %>
  <div class="nav-wrapper container">
    <div class="left-links" style="padding-left: 30px;">
      <ul class=" hide-on-med-and-down">
        <li><%= link_to "About", pages_about_path %></li>
        <li><%= link_to "Contact", pages_contact_path %></li>
      </ul>
    </div>
    <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>
      <a class="dropdown-button btn buttoncolor" href="#" data-activates="dropdown1">
        <div id="dropD" style="color: #ffffff;"><%= current_user.name %></div></a>
      <ul id="dropdown1" class="dropdown-content">
        <li><%= link_to "Bought", purchases_path %></li>
        <li><%= link_to "Sold", sales_path %></li>
        <li><%= link_to "Listings", seller_path %></li>
        <li><%= link_to "Profile", edit_user_registration_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      </ul>
      <% else %>
      <li><%= link_to "Sign In", new_user_session_path %></li>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><%= link_to "About", root_path %></li>
      <li><%= link_to "Contact", pages_contact_path %></li>
      <% if user_signed_in? %>
      <li><%= link_to "Purchase History", purchases_path %></li>
      <li><%= link_to "Sales History", sales_path %></li>
      <li><%= link_to "Manage Listings", seller_path %></li>
      <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
      <li><%= link_to "Sign In", new_user_session_path %></li>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
